body {
    height: 100vh;
    background: #cd163f;;
}

@font-face {
    font-family: "Google-sans";
    src: url("fonts/static/GoogleSans-Regular.ttf") format("truetype");
}

.btn-custom {
    font-family: Google-sans;
    color: whitesmoke;
    font-weight: 600;
    width: 80%; /* Para teléfono */
    max-width: 300px; /* Para computadoras*/
    letter-spacing: 1px;
    background-color: #cd163f; 
    border: none;

}
.btn-custom:hover {
    background-color: #a51233;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(8, 217, 214, 0.4);
    color: whitesmoke;
}

.logo-empresa{
    width: 70%;
    height: auto;

}
.contenedor-botones{
    margin-top: 20px;
}

.bloque {
    background-color: whitesmoke;
    padding-bottom: 50px;
    width: 90%;       
    max-width: 400px;
    border-radius: 8px;
    margin-top: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
