<div class="container app-page d-flex justify-content-center align-items-center">
  <div class="bloque mx-auto">
    <div class="row">
      <div class="col-12 text-center mt-4 mb-2">
        <img src="/img/Rockwell_Automation_Logo.png" alt="Logo de la empresa" class="logo-empresa" />
      </div>
    </div>

    <div class="row justify-content-center contenedor-botones">
      <div class="col-12 text-center mt-4 mb-2">
        <button class="btn btn-custom" routerLink="/login">Login</button>
      </div>

      <div class="col-12 text-center mt-2 mb-2">
        <button class="btn btn-custom" routerLink="/signin">Signin</button>
      </div>

      <div class="col-12 text-center mt-2 mb-2">
        <button class="btn btn-custom" routerLink="/stats">Stats</button>
      </div>
    </div>
  </div>
</div>
